<div class="" id="appbar">
    <div id="appbar-extension">
        <h1 class="app-view-title"></h1>
    </div>
    <div id="appbar-main">
        <div class="app-navigation">
            <div class="nav-toggle">
                <i class="material-icons">menu</i>
            </div>
            <nav role="navigation">
                <ul class="nav-list">
                    <div class="indicator"></div>
            </ul>
        </nav>
    </div>
    <h1 class="app-title">Google<span>·</span>Design<span>¬</span></h1>
    <div class="app-actions">
        <div class="app-supplemental-actions">
            <i class="material-icons">search</i>
            <i class="material-icons">favorite</i>
        </div>
        <div class="app-menu">
            <i class="material-icons">more_vert</i>
        </div>
    </div>
</div>
</div>